<div class="container-fluid">
  <div class="col-md-12">
  <h1> Hello!</h1>



      <div class="grid">
          <div class="col fluid">
            <img src= "http://res.cloudinary.com/dcbeoroxh/image/upload/v1489326681/myavatar_tqwa6m.png" alt="Avatar" class="avatar">
            <br>
            <h3>"I want to make things that makes a difference."</h3>
          </div>

          <div class="col fixed">
            <h2 class="upcased">About Me . . .</h2>
            <p> My name is Paulina, and I am based in Sydney, Australia. I am fluent in Indonesian and English. Innovation is my passion.</p>
              <br>
              <p>I am a full stack developer with a Commerce and International Business background. Growing up, I have always had interest in computers and robotics, but it wasn't until beginning of 2017 that I decided to pursue it further.</p>
              <br>
              <p>I have always sought out opportunities and challenges that are meaningful to me.
                Although my personal and professional path has taken many twists and turns, I've never stop engaging my passion to help others and solve problems.
                I have strong interest in helping others and am an active volunteer in various charitable organisations.</p>


          </div>


    </div>
  </div>

</div>
