
<div class="container-fluid">
  <h1>Contact Me</h1>
  <div class="col-md-12" id="wrapper">
    <p> I am always open for any collaborations. 

    <div class="bt_wrap">
      <div class="box">
        <a href="https://github.com/paulinaika"><i class="icon fa fa-github-square"></i>
        <a href="https://github.com/paulinaika"><i class="icon2 fa fa-github-square"></i>
      </div>
    </div>

    <div class="bt_wrap">
      <div class="box">
        <a href="https://www.linkedin.com/in/paulinasudjatmiko/"><i class="icon fa fa-linkedin-square"></i>
        <a href="https://www.linkedin.com/in/paulinasudjatmiko/"><i class="icon2 fa fa-linkedin-square"></i>
      </div>
    </div>

    <div class="bt_wrap">
      <div class="box">
        <a href="https://twitter.com/sweetchoconana"><i class="icon fa fa-twitter"></i>
        <a href="https://twitter.com/sweetchoconana"><i class="icon2 fa fa-twitter"></i>
      </div>
    </div>

  <div class="bt_wrap">
    <div class="box">
      <a href="https://www.facebook.com/Sweetchoconana"><i class="icon fa fa-facebook-official"></i>
      <a href="https://www.facebook.com/Sweetchoconana"><i class="icon2 fa fa-facebook-official"></i>
    </div>
  </div>
</div>

</div>
</div>
