<div class="container-fluid">
  <div class="col-md-12">
  <h1>Welcome!</h1>



<div class="homepage">

    <div class="content text-center">
      <h2 class="larger-font-50">I am a full stack developer.</h2>
        <h2>The only developer you'll ever need.</h2>
        <!-- <h2 class="first-line-slogan">The only developer you'll ever need..</h2> -->
        <!-- <h2 class="second-line-slogan">The only developer you'll ever need.</h2> -->
    </div>
  </div>


  </div>
</div>
