<div class="container-fluid">
  <div class="col-md-12">
  <h1>Portfolio</h1>
  <p class= "text-right">
    <br>

    Everything accomplished during my bootcamp at Coders Factory Academy and on my spare time.<br>
    Hover on top of the images to view more project details.
  </p>



    <figure>
      <img src="http://res.cloudinary.com/dcbeoroxh/image/upload/v1489326688/starwars_xd1txp.png" alt="Star Wars" />
      <figcaption>
        <div class="pop-up-description">
          <p>Star Wars themed website using basic HTML and CSS.</p>
        </div>
        <p class="title">Star Wars</p>
        <ul class="iconos">
          <li><a href="https://codepen.io/paugrammer/pen/qrEvOX"><i class="fa fa-codepen"></i></a></li>
        </ul>
      </figcaption>
    </figure>


    <figure>
      <img src="http://res.cloudinary.com/dcbeoroxh/image/upload/v1489326692/zengarden_yutgwa.png" alt="CSS Zen Garden" />
      <figcaption>
        <div class="pop-up-description">
          <p>My first attempt on CSS Zen Garden using basic HTML and CSS.</p>
        </div>
        <p class="title">CSS Zen Garden</p>
        <ul class="iconos">
          <li><a href="https://github.com/paulinaika/CFA-CSS-Zen"><i class="fa fa-github"></i></a></li>
        </ul>
      </figcaption>
    </figure>

    <figure>
      <img src="http://res.cloudinary.com/dcbeoroxh/image/upload/v1489326671/calculator_ctlqxq.png" alt="Calculator" />
      <figcaption>
        <div class="pop-up-description">
          <p>Calculator terminal app.</p>
        </div>
        <p class="title">Calculator</p>
        <ul class="iconos">
          <li><a href="https://github.com/paulinaika/CFA-CSS-Zen"><i class="fa fa-github"></i></a></li>
        </ul>
      </figcaption>
    </figure>

    <figure>
      <img src="http://res.cloudinary.com/dcbeoroxh/image/upload/v1489326679/animalmatcher_ncpvrt.png" alt="Animal Matcher" />
      <figcaption>
        <div class="pop-up-description">
          <p>Animal matcher terminal app.</p>
        </div>
        <p class="title">Animal Matcher</p>
        <ul class="iconos">
          <li><a href="https://github.com/cpeters94/PetMatcher"><i class="fa fa-github"></i></a></li>
        </ul>
      </figcaption>
    </figure>


    <figure>
      <img src="http://res.cloudinary.com/dcbeoroxh/image/upload/v1489326675/website_aan6x0.png" alt="Portfolio" />
      <figcaption>
        <div class="pop-up-description">
          <p>My first personal website using rails.</p>
        </div>
        <p class="title">My Portfolio</p>
        <ul class="iconos">
          <li><a href="https://github.com/paulinaika/CFA-Trump-Page.git"><i class="fa fa-github"></i></a></li>
        </ul>
      </figcaption>
    </figure>

    <figure>
      <img src="http://res.cloudinary.com/dcbeoroxh/image/upload/v1489326692/trump_ysigmc.png" alt="Trump Page" />
      <figcaption>
        <div class="pop-up-description">
          <p>A Trump page just for laughter and fun using rails.</p>
        </div>
        <p class="title">The Trump Page</p>
        <ul class="iconos">
          <li><a href="https://github.com/paulinaika/CFA-Trump-Page.git"><i class="fa fa-github"></i></a></li>
        </ul>
      </figcaption>
    </figure>








</div>
</div>
