<div class="container-fluid">
  <div class="col-md-12">
  <h1>Skills</h1>

  <div class="homepage" id="skills-icon">
  <!-- Skills Section -->
  			<!-- <div id="skills-icon"> -->
  				<div class="col-xs-6">
  					<h3 class="sectionsubhead">Front End</h3>
  						<ul class="list-style-remove">
  							<li ><i class="devicon-html5-plain-wordmark"></i></li>
  							<li><i class="devicon-css3-plain-wordmark"></i></li>
  							<li><i class="devicon-bootstrap-plain-wordmark"></i></li>
                <li><i class="devicon-sass-original"></i></li>
  						</ul>
  				</div>
  				<div class="col-xs-6">
  					<h3 class="sectionsubhead">Back End</h3>
  					<ul class="list-style-remove">
              <!-- <li><i class="devicon-trello-plain-wordmark"></i></li> -->
  						<li><i class="devicon-git-plain-wordmark"></i></li>
  						<li><i class="devicon-github-plain-wordmark"></i></li>
              <li><i class="devicon-ruby-plain-wordmark"></i></li>
              <li><i class="devicon-rails-plain-wordmark"></i></li>
  					</ul>
  				</div>
  			</div>

<!-- </div> -->
</div>
</div>
